.search-box {
  -webkit-appearance: none;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 2px;
  width: 250px;
  line-height: 30px;
  margin-bottom: 30px;
  padding-left: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
