.card-container {
  display: flex;
  flex-direction: column;
  background-color: #cefffb;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  /* cursor: pointer; */
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-container:hover {
  transform: scale(1.025);
}

.monster-name {
  font-family: "Barlow", sans-serif;
  font-size: 19px !important;
  text-transform: uppercase;
}

.p-info {
  text-align: left;
  /* margin-bottom: 5px; */
  line-height: 12px;
  font-family: "Red Hat Display", sans-serif;
}

.user-info {
  border-bottom: 1px solid black;
}

.show-info-button {
  font-family: "Red Hat Display", sans-serif;
  text-transform: lowercase;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
}

.show-info-button:hover {
  color: green;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .card-container {
    padding: 20px;
  }
  .monster-name {
    font-size: 14px;
  }

  .p-info {
    font-size: 12px;
  }
}
